
body{
    background-color: #42c029;
    color: white;
    font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-family: 'Oswald', 'Verdana', 'Arial', 'Helvetica', sans-serif;
}
* {
    margin:0;
    padding: 0;
}
html,body {
  height: 100%;
}
header, main, footer {
    width: 1040px;
    margin:0 auto;
}
header {
    height: 120px;
}
#wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
     width: 100%;
};

main{
    padding-bottom: 100px;

}
.content-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 100%;
}


.content-block h1 {
    width: 100%;
    text-align: center;
    margin: 0;
    order: 1; 
}


.onas_img {
    max-width: 100%;
    height: auto;
    display: block;
    order: 2; 
}


.one {
    width: 100%;
    text-align: justify;
    margin: 0;
    line-height: 1.6;
    order: 3; 
}

footer{   
    width: 1040px;
    margin: -100px auto 0;
    position: relative;
    height: 100px;
}
.main_img-float {
    width: 550px;
    margin-right: 40px;
    float: left;
}
#panorama {
    width: 100%;
    height: 150px;
    background: url(../img/2.jpg) no-repeat center 70%;
    background-size: cover; 
}
.services_img {
    width: 240px;
    float: left;
}
.services_item {
    margin-left: 40px;
    margin-right: 40px;
    width: 240px;
    float: left;
}
.services {
    padding: 35px;
    border: 5px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.h1--invisible {
    visibility: hidden;
}
#logo {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    line-height: 100px;
    font-size: 24px;
    float: left;
}

.pink {
   color: pink;
}

.footer_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer_left {
    text-transform: uppercase;
    flex: 1;
    float: left;
}
.footer_center {
    text-transform: uppercase;
    flex: 1;
    text-align: center;
}

.footer_right {
    flex: 1;
    text-align: right;
}

.footer_img {
    width: 50px;
    margin-left: 10px; 
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.logo {
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: bold;
}

.logo-pink {
    color: #ff4ea2;
}

.menu {
    display: flex;
    gap: 28px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 15px;
    opacity: 0.86;
    transition: color .2s;
}
.menu li a.active,
.menu li a:hover {
    color: #ff4ea2;
}

.contacts {
    margin-top: 70px;
    text-align: center;
}

.contacts-content {
    display: inline-block;
    background: transparent;
    padding: 20px 70px 0 70px;
}

.contact-item {
    margin-bottom: 21px;
}

.contact-title {
    margin-bottom:3px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 17px;
    opacity: 0.9;
}

.contact-text {
    font-size: 16px;
    letter-spacing: 0.2px;
    opacity: 0.96;
}

.address {
    color: #ff4ea2;
}

.write-to-us {
    display: inline-block;
    margin-top: 14px;
    color: #fff;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

footer {
    background: #42c029;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 55px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    font-size: 15px;
}

.footer-left {
    opacity: 0.83;
    font-size: 15px;
}

.footer-left span {
    color: #fff;
    font-size: 15px;
    opacity: 1;
}

.footer-center {
    opacity: 0.8;
    font-size: 15px;
}

.footer-right a {
    display: inline-block;
    margin-left: 18px;
    opacity: 0.85;
}
#mainnav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
#mainnav li {
    display: inline;
}
#mainnav a {
    text-decoration: none;
}
#mainnav li.active a{
    font-weight: bold;
}
#mainblock b {
    text-align: center;
}
.footer__block:nth-child(2) {
    text-align: center; 
}
.services p:last-child {
    color: #ff69b4; 
    text-decoration: none;
}
.services p:last-child:hover {
    text-decoration: underline;
}
.new::after{
    content: "new";
    font-size: 10px;
    vertical-align: super;
    background-color: violet;
    border-radius: 2px;
    padding: 3px;
    margin-left: 5px;
}



h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #2c3e50;
}

.services-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.services-table th {
    background-color: #3498db;
    color: white;
    padding: 15px;
    text-align: left;
    font-weight: bold;
    border: 1px solid #2980b9;
}

.services-table td {
    padding: 15px;
    border: 1px solid #000000;
    vertical-align: top;
}

.services-table tr:nth-child(even) {
    background-color: #0b580f;
}



.services-table td:first-child {
    text-align: center;
    font-weight: bold;
    width: 50px;
}

.services-table td:last-child {
    text-align: right;
    font-weight: bold;
    color: #f7f7f7;
    width: 120px;
}

.services-table td:nth-child(2) {
    text-align: justify;
}